# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
db.sqlite3
*.sqlite3

# Virtualenv
venv/
env/
ENV/
.venv/
.Python
.env

# VSCode
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints

# macOS
.DS_Store

# System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Pip
pip-log.txt

# Setup artifacts
*.sh~

# PyInstaller
*.manifest
*.spec

# Coverage reports
htmlcov/
.coverage
.cache
nosetests.xml
coverage.xml

# MyPy
.mypy_cache/

# pyannote cache
pyannote/

# Hugging Face cache
~/.cache/huggingface
